# Node
node_modules/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*.local

# Editor
.vscode/
.idea/
.DS_Store

# Builds
dist/
build/
coverage/
.cache/

# Frontend
frontend/.next/
frontend/out/
frontend/.turbo/
frontend/.vercel/

# Backend Hardhat
backend/artifacts/
backend/cache/
backend/build-info/
backend/deployments/
backend/fhevmTemp/
